<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard de Iot</title>
  <link rel="manifest" href="manifest.json">
  <link rel="stylesheet" href="style.css">
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
  <script src='js/maplibre-gl.js'></script>
  <link href='maplibre-gl.css' rel='stylesheet' />

</head>

<body>
  <div id='map'></div>
  <main id="app">

    <table id="robots">
      <thead>
        <tr>
          <th v-for="head in heads" :key="head">{{ head }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in storage" :key="item">
          <td v-for="(element, key, index) in item" :key="element" v-show="key !=='coords' ">{{ element }}</td>
          <td>
            <button class="edit">Modifier</button>
            <button class="delete" @click="deleteMarker(item.number)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button id="add" @click="openPopup">Ajouter un marqueur</button>
    <div class="popup" v-if="IsPopupOpen">
      <p class="popup-title">{{ titlePopup }}</p>
      <div>
        <h3>Nom de l'appareil</h3>
        <input type="text" class="popup-input" v-model="input">
      </div>
      <div class="popup-coords">
        <div>
          <h3>Latitude</h3>
          <input type="text" class="popup-input" v-model="latitude">
        </div>
        <div>
          <h3>Longitude</h3>
          <input type="text" class="popup-input" v-model="longitude">
        </div>
      </div>
      <button class="popup-submit" @click="createMarker">Enregistrer</button>
    </div>
    <a href="/quizz.html" class="quizz-button button-91">Accéder au quizz</a>
  </main>
  <script src="js/app.js"></script>

  <script>
    // Map
    let map = new maplibregl.Map({
      container: 'map', // container id
      style: 'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
      center: [0, 0], // starting position [lng, lat]
      zoom: 1 // starting zoom
    });

    // Vue
    const { createApp } = Vue
    createApp({
      data: () => ({
        infos: undefined,
        input: '',
        longitude: 0,
        latitude: 0,
        titlePopup: 'Création d\'un marqueur',
        IsPopupOpen: false,
        heads: ['Number', 'Name', 'Date', 'Contrôles'],
        markers: [],
        storage: [
          {
            number: 1,
            name: 'D3',
            date: '2020-11-26',
            coords: [5.026824428081838, 47.314551189358205]
          },
          // {
          //   number: 2,
          //   name: 'Robot',
          //   date: '2020-11-26',
          //   coords: [6.48757484232033, 46.392316983354625]
          // },
          // {
          //   number: 3,
          //   name: 'Appareil',
          //   date: '2020-11-26',
          //   coords: [5.371247778419813, 43.28408274884388]
          // }
        ]
      }),
      methods: {
        addMapMarkers: function (name, coords) {
          this.markers.push(new maplibregl.Marker()
            .setLngLat(coords)
            .setPopup(new maplibregl.Popup({ offset: 25 }) // add popups
              .setHTML(`<h3>${name}</h3>`))
            .addTo(map))
        },
        deleteMarker: function (id) {
          this.storage = this.storage.filter(item => item.number !== id)
          this.markers[id - 1].remove()
          this.updateData();
        },
        openPopup: function () {
          this.IsPopupOpen = true;
        },
        createMarker: function () {
          this.storage.push({
            number: this.storage.length + 1,
            name: this.input,
            date: new Date().toISOString().slice(0, 10),
            coords: [this.longitude, this.latitude]
          })

          this.addMapMarkers(this.input, [this.longitude, this.latitude])

          this.IsPopupOpen = false;
          this.updateData();
        },
        getData: function () {
          this.storage = JSON.parse(localStorage.getItem('storage'))
          this.storage.forEach(item => {
            this.addMapMarkers(item.name, item.coords)
          })
        },
        updateData: function () {
          localStorage.setItem('storage', JSON.stringify(this.storage))
        }
      },
      mounted() {
        if (localStorage.getItem('storage') === null) {
          localStorage.setItem('storage', JSON.stringify(this.storage))
        }
        this.getData();
        this.infos = JSON.parse(localStorage.getItem('infos'))
      }
    }).mount('#app')
  </script>
</body>

</html>